[submodule "scientifica"]
	path = scientifica
	url = https://github.com/oppiliappan/scientifica
[submodule "nvim"]
	path = nvim
	url = git@github.com:bentaylorhk/choi-hung.nvim.git
[submodule "vscode"]
	path = vscode
	url = git@github.com:bentaylorhk/choi-hung-vscode.git
